.container_product {
  max-width: 1320px;
  margin: auto;
  padding: 20px;
}

.footerr {
  margin-top: 50px;
  background-color: #2D2B45;
}

.btn {
  background: #FFB12A;
  color: white;
  font-size: large;
  padding: 10px 20px;
  width: 200px;
  border-radius: 8px;
}

.active {
  font-weight: bold;
  text-decoration: underline;
  padding: 5px 100px;
}

.delete {
  color: red;
  position: absolute;
  right: 0;
  cursor: pointer;
}